* {
  margin: 0;
  padding: 0;
}
body {
  /* width: 1400px; */
  margin: auto;
}
#banner .container {
  /* width: 100vw; */
  /* height: 850px; */
  background-color: rgba(229, 84, 115, 0.1);
  border: solid #272727 2px;
}

#banner .container h1 {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  width: 708px;
}
#banner .container p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 634px;
  margin-top: 32px;
  margin-bottom: 32px;
}
#banner .container button {
  padding: 20px 43px;
  background-color: #df4e75;
  font-size: 20px;
  color: aliceblue;
  border: none;
  border-radius: 8px;
}
#banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .container .left,
.right {
  width: 50%;
}
#banner .container .right .img {
  width: 635px;
  height: 800px;
  padding: 50px;
}
#banner .container .left {
    padding-left:  120px;
}
#Featured {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px seagreen solid;
  width:100%;
height: 4867px;
background: #FFF;
}
#Featured .div-1 .h2 {
  justify-content: center;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
#Featured .div-1 .p {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */

}
#Featured .div-2 .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  width:100%;

}



